body { margin:0; padding:0; font-family:garamond; }
h1 { color:#AA4B09; font-size:26px; margin-top:5px;}
h2, h2 a { color:#AA4B09; font-size:20px; margin:0 0 10px 0; }
h4 { color:#AA4B09; font-size:16px; margin:5px 0; }
a { color: #17637A; }
.small { font-size:12px; }
div.clear { clear:both; }
.left { float:left; margin-right:10px; }
.right { float:right; margin-left:10px; }

table.list td { padding:4px; border-bottom:1px solid #fff; }
tr.even { background: #f8f8f8; }
tr.odd { background: #f1f1f1; }

span.tiny-header { font-style:italic; color:#444; font-size:11px; font-family:georgia; display:block;}

div#shadow-left {
	width:914px;
	margin:0 auto;
	background:url(../images/shadow-left.png) top left repeat-y;
}

div#shadow-right {
	width:914px;
	background:url(../images/shadow-right.png) top right repeat-y;
}

div#shadow-bottom {
	color:#fff;
	text-align:center;
	line-height:38px;
	width:914px;
	height:44px;
	background:url(../images/shadow-bottom.png) top right no-repeat;
}

body div#main-container {
	width:900px;
	margin:0 auto;
}

body.two-col div#main-container {
	width:900px;
	margin:0 auto;
	background:url(../images/right-bg.png) top right repeat-y;
}

div#header {
	position:relative;
	width:900px;
	height:101px;
	background:url(../images/header.png) top right no-repeat;
}

div#header-menu {
	position:absolute;
	top:0;
	right:0;
}

div#header-menu ul {
	margin:5px;
}

div#header-menu ul li {
	display:inline;
	padding:4px;
}
div#header-menu ul li a {
	font-size:12px;
	color:#fff;
}

div#top-menu {
	width:900px;
	height:31px;
	background:url(../images/top-menu-bg.png) top right repeat-x;
}

div#left {
	float:left;
	width:625px;
	margin:15px 5px 15px 15px;
}

div#right {
	float:left;
	width:235px;
	margin:15px 15px 15px 5px;
}

div#content-container {
	width:900px;
	margin:0 auto;
	background:url(../images/under-menu-shadow.png) top right no-repeat;
}

div#subfooter {
	text-align:center;
	font-size:14px;
}

/* Shadow box */
div.shadow-box { position:relative; margin-bottom:15px; }
div.shadow-box .t { background:url(../images/shadow-box-t.png) top left repeat-x; padding-top:6px; }
div.shadow-box .r { background:url(../images/shadow-box-r.png) top right repeat-y; padding-right:5px;}
div.shadow-box .b { background:url(../images/shadow-box-b.png) bottom left repeat-x; padding-bottom:6px;}
div.shadow-box .l { background:url(../images/shadow-box-l.png) top left repeat-y; padding-left:7px;}
div.shadow-box .content { background:#ffffee; position:relative; z-index:3; padding:15px;}
div.shadow-box .tl { z-index:2; width:10px; height:10px; position:absolute; top:0; left:0; background:url(../images/shadow-box-tl.png) top left no-repeat; }
div.shadow-box .tr { z-index:2; width:10px; height:10px; position:absolute; top:0; right:0; background:url(../images/shadow-box-tr.png) top left no-repeat; }
div.shadow-box .br { z-index:2; width:10px; height:10px; position:absolute; bottom:0; right:0; background:url(../images/shadow-box-br.png) top left no-repeat; }
div.shadow-box .bl { z-index:2; width:10px; height:10px; position:absolute; bottom:0; left:0; background:url(../images/shadow-box-bl.png) top left no-repeat; }

/* Show Videos */
div#search-container {
	background:#f6f6f6;
}

div.search-result {
	padding:10px;
	margin-bottom:15px;
}

div.search-result.even {
	background:#f2f2f2;
}

div.search-result.odd {
	
}

div.search-result h3 {
	font-size:18px;
	margin:2px 0 10px 0;
}

div.search-result p {
	font-size:14px;
	line-height:17px;
}

div.search-result-left {
	float:left;
	width:300px;
}

div.search-result-right {
	float:left;
	width:300px;
}

div.preview iframe {
	border:4px solid #ccc;
}

table.video-info {
	font-size:14px;
}

table.video-info td.label {
	font-weight:bold;
}

ul.video-list {
	margin:15px 0;
	padding:0;
	list-style:none;
}

ul.video-list h2 a.title {
	font-size:16px;
}

ul.video-list li {
	position:relative;
}

ul.video-list li div.video-preview {
	float:left;
	width:250px;
	height:170px;
	background:#fff;
	border:1px solid #ccc;
	margin:4px 10px 10px 0;
}

ul.video-list div.actions {
	position:absolute;
	top:10px; right:10px;
}

ul.video-list div.actions a,
ul.video-list div.actions form {
	float:right;
	margin-left:10px;
}

/* Edit Videos */
div.actions {
	margin-top:8px;
}

/* My Reels Sidebar */
span.reel {
	font-size:14px;
	width:130px;
	line-height:20px;
	display:block;
	margin:4px 0;
	padding:0 30px;
	background:url(/images/reel.png) left center no-repeat;
}

div#current-reel {
	position:relative;
	color:#fff;
	background:#499bb5;
	padding:5px;
	margin-bottom:10px;
}

div#current-reel span {
	color:#eeeeff;
}

div#current-reel span.reel {
	color:#fff;
	display:block;
	font-weight:bold;
	position:relative;
}

div#current-reel{
	padding-bottom:10px;
	border-radius:3px;
	border:2px solid #398ba5;
}

div#current-reel .videos {
	margin-top:10px;
}

div#current-reel .actions {
	font-size:12px;
	color:#eeeeff;
	position:absolute;
	right:9px;
	top:-1px;
	padding:0;
	margin:0;
}

div#current-reel .actions a {
	color:#eeeeff;
	font-size:10px;
	font-family:arial;
	font-weight:normal;
}

div#current-reel input {
	margin-top:4px;
}

div#current-reel span.video {
	display:block;
	padding-left:26px;
	background:url(/images/video.png) 3px top no-repeat;
	font-size:12px;
	color:#fff;
	margin-top:6px;
}

div.sidebar-cart-line-item {
	margin-bottom:8px;
}

div.sidebar-cart-line-item .thumb {
	float:left;
	margin-right:8px;
	width:60px;
	height:38px;
	background:#888;
}

div.sidebar-cart-line-item .title {
	float:left;
	width:100px;
	font-size:12px;
	font-weight:bold;
}

div.sidebar-cart-line-item .info {
	float:left;
	font-size:10px;
	font-family:arial;
}

div.sidebar-cart-line-item a.remove {
	text-decoration:underline;
	color:#0000ff;
}

/* Admin */
div.admin-toolbar {
	padding:4px 8px;
	border-top:2px solid rgb(53,135,161);
	border-bottom:2px solid rgb(53,135,161);
	background:rgb(73,155,181);
}

/* Buttons & form elements */
.button.small { width:50px; }
.button.long { width:75px;}
.button, a.button,
#user_submit, #collection_submit {
	display:block;
	text-align:center;
	width:60px;
	text-decoration:none;
	color: #222;
	cursor: pointer;
	font-family:arial;
	font-weight: normal;
	font-size:12px;
	height:24px;
	line-height:25px;
	padding:0 8px;
	background:#e2e2e2;
	border:1px solid #aaa;
	border-radius: 3px;
}
input.button {
	height:26px;
	width:78px;
	line-height:21px;
	vertical-align:top;
}

.button:hover, a.button:hover,
#user_submit:hover, #collection_submit:hover {
	color:#555;
	border:1px solid #bbb;
}	

input.add-to-reel {
	width:100px;
	white-space:nowrap;
	padding:3px 6px 3px 25px;
	text-align:left;
	background:#e2e2e2 url(/images/add-to-reel.png) 4px center no-repeat;
}

a.edit {
	width:22px;
	white-space:nowrap;
	text-align:left;
	padding-left:27px;
	background:#e2e2e2 url(/images/edit.png) 4px center no-repeat;
}

a.new {
	width:58px;
	white-space:nowrap;
	text-align:left;
	padding-left:27px;
	background:#e9e9e9 url(/images/new-video.png) 4px center no-repeat;
}

input.delete {
	white-space:nowrap;
	text-align:left;
	padding-left:27px;
	background:#e2e2e2 url(/images/delete.png) 4px center no-repeat;
}

.button.large, .form-submit {
	background: none repeat scroll 0 0 #08586E;
	border: 2px solid #59B6D2;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	font-size:12px;
	height: 32px;
	width:100px;
	padding: 4px 8px 6px 8px;
	margin-top:10px;
}

a.button.large:hover,
input.button.large:hover,
.form-submit:hover {
	color:#fff;
	background: none repeat scroll 0 0 #096A84;
	border: 2px solid #5ED6FA;
	border-radius: 4px 4px 4px 4px;
}

input {
	display:table-cell;
	vertical-align:middle;
	padding:0 2px;
}

select {
	width:170px;
	margin-bottom:10px;
}

.field {
  margin-top: 10px;
}

.field_with_errors label {
    color: red;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
    border-color: red;
}

/* Flash Messages */
div.flash {
	padding:10px 15px 10px 45px;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}

div.flash.alert {
	color:#aa0000;
	border-top:2px solid #990000;
	border-bottom:2px solid #990000;
	background:#ffeeee url(/images/error.png) 10px center no-repeat;
}

div.flash.notice {
	color:#55aa11;
	border-top:2px solid #339911;
	border-bottom:2px solid #339911;
	background:#f3fff3 url(/images/green-check.png) 10px center no-repeat;
}

