<li>
  <h2><%= video.title %></h2>
  <span class="created_at">Posted: <%= time_ago_in_words(video.created_at) %></span>
  <span class="duration">Duration: <%= video.duration %></span>
  <p><%= video.description %></h2>
</li>
