<h1>GSCRA B-Roll Library</h1>
<% if can?(:create, Video) %>
<div class="admin-toolbar">
<%= link_to('New Video', new_video_path, :class => 'button new')  %>
</div>
<% end %>

<% if @videos.any? %>
  <ul class="video-list">
    <%= render @videos %>
  </ul>
<% else %>
  <div>No Videos Found.</div>
<% end %>
