<h1>Glenwood Springs Chamber B-Roll Video Library</h1>
<%= link_to('New Video', new_video_path, :class => 'button') if can?(:create, Video) %>

<% if @videos.any? %>
  <ul class="video-list">
    <%= render @videos %>
  </ul>
<% else %>
  <div>No Videos Found.</div>
<% end %>
