<div id="<%= id %>" class="shadow-box">
  <div class="t">
    <div class="r">
      <div class="b">
        <div class="l">
          <div class="content">
            <%= content %>
          </div>
        </div>
      </div>
    </div>
    <div class="tl"></div>
    <div class="tr"></div>
    <div class="br"></div>
    <div class="bl"></div>
  </div>
</div>
