<div class="video-line-item">
	<div class="thumb"></div>
	<div class="title">People Shopping Downtown</div>
	<div class="info">Shopping, 0:12 <a class="remove">Remove</a></div>
	<div class="clear"></div>
</div>